<div class="border-form-div">
	<h1 class="form-signin-heading">Editing Video</h1>

	<%= render 'form', video: @video %>
	<br/>
	<%= link_to 'Show', @video, style:"color:#fff" %> |
	<%= link_to 'Back', videos_path, style:"color:#fff" %>
</div>